
body {
  font-family: 'Nunito', sans-serif;
  background-color : #f3f4f6;
}
.inputp{
  font-family: 'Nunito', sans-serif;
  background-color: #d8e0fd;
  padding: 17px 20px;
  font-size: 25px;
  border-radius: 10px;
  color: #3363ff;
  border: 3px black;
}

form {
  font-family: 'Nunito', sans-serif;
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
}
form input {
  background: #fff;
  border: 2px solid #9c9c9c;
}
#logo{
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}

.grid{
  margin-top: 1rem;
  margin-left: 70px;
  font-family: 'Nunito', sans-serif;
  display: grid;
  width: 10em;
  grid-gap: 6rem;
  grid-template-columns: repeat(3, 400px);
  align-items: start;
  position: absolute;
}

.grid-item{
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img{
  display: block;
  width: 10rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.card-content{
  padding: 3rem;
}

.card-title{
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-button{
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #d8e0fd;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  transition: 0.2s;
  letter-spacing: 0.1rem;
}

.card-button-text{
  background-color: #d8e0fd;
  color: #3363ff;
  border: none;
}

.grid-list{
  margin-top: 1rem;
  margin-left: 70px;
  font-family: 'Nunito', sans-serif;
  display: grid;
  width: 10em;
  grid-gap: 6rem;
  grid-template-columns: repeat(3, 400px);
  align-items: start;
  position: absolute;
}

.grid-list-item{
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-list-item:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-list-img{
  display: block;
  width: 10rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.card-list-content{
  padding: 3rem;
}

.card-list-title{
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-list-button{
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #d8e0fd;
  text-decoration: none;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  letter-spacing: 0.1rem;
}

.card-list-button-text{
  background-color: #d8e0fd;
  color: #3363ff;
}

.alertSuccess{
  display: grid;
  font-family: 'Nunito', sans-serif;
  font-size: 27px;
  border-radius: 10px;
  width: 370px;
  height: 50px;
  background-color: greenyellow;
  text-align: center;
  margin: 2rem auto 0 auto;
}

  @media only screen and (max-width: 1920px){
    .grid{
      margin-left: 170px;
      grid-template-columns: repeat(3, 350px);
    }
  }
  @media only screen and (max-width: 1600px){
    .grid{
      margin-left: 75px;
      grid-template-columns: repeat(3, 350px);
    }
  }
  @media only screen and (max-width: 1024px){
    .grid{
      margin-left: 50px;
      grid-template-columns: repeat(2, 350px);
    }
  }
